{% load IC_extras %}
{% load static %}

<html>
    <head>
    <meta charset="utf-8">
    <title>Certificado</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'IC/certificate.css' %}">
    </head>

    <body class="horizontal">
        <div id="certificate-body">
            <div id="info_sup" class="horizontal">
                <div id="logo" class="full_center">
                    <a>Aquí va un logo</a>
                </div>
                <div id="personal_info" class="full_center">
                    <div class="full_container full_center">
                        <div class="info_col vertical">
                            <ul class="data">
                                <li>Nombre: {{ user }} </li>
                                <li>RUN: 00.000.000-0</li>
                                <li>Edad: 00</li>
                                <li>Sexo: N/I</li>
                                <li>Ciudad: P/D</li>
                            </ul>
                        </div>
                        <div class="info_col vertical">
                            <ul class="data">
                                <li>Rendido: {{ date }} </li>
                                <li>Válido hasta: P/D</li>
                                <li>Estado: --- </li>
                                <li>Lugar de rendición: Online</li>
                                <li>Cod: --- </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="graph_cont">
                <canvas id="scoreGraph" class="mid-floater" aria-label="Ariagraph" role="img"></canvas>
                <div class="pseudo-mid-floater">
                    <div id="puntaje" >
                        <div class="bignum" style="text-align:center;">
                            {{ score }}
                        </div>
                        <div style="text-align:center;">
                            {{ level }}
                        </div>
                    </div>
                    <div>
                    <table>
                        <tr>
                            <td class="middle">Buenas</td>
                            <td> {{ correct }} </td>
                        </tr>
                        <tr>
                            <td class="middle">Malas</td>
                            <td> {{ wrong }} </td>
                        </tr>
                        <tr>
                            <td class="middle">Omitidas</td>
                            <td> {{ omitted }} </td>
                        </tr>
                    </table>
                </div>
                </div>
                <div class="bottom-floater">
                    TEST IC <br> Test diseñado para medir la eficiencia en el trabajo bajo presión, la reacción ante instrucciones complejas y la tolerancia a la frustración. Se evalua entre 1 y 6 puntos, obteniendo mayor puntaje en cuanto muestre mejor desempeño ante los retos enfrentados.
                </div>
            </div>

            <div id="info_inf">
                <div class="full_container" id="puntajes">
                        <table>
                            <tr>
                                <th>Puntaje</th>
                                <th>Nivel</th>
                                <th class="bigth">Descripción</th>
                            </tr>
                            <tr class={{ score|highlight:1 }} >
                                <td class="middle">1</td>
                                <td class="middle">Bajo</td>
                                <td>Dificultad de comprensión de instrucciones elevada, o poco manejo de presión.</td>
                            </tr>
                            <tr class={{ score|highlight:2 }} >
                                <td class="middle">2</td>
                                <td class="middle">Medio Bajo</td>
                                <td>Dificultad de comprensión de instrucciones moderada, o poco manejo de presión.</td>
                            </tr>
                            <tr class={{ score|highlight:3 }} >
                                <td class="middle">3</td>
                                <td class="middle">Medio</td>
                                <td>Presenta problemas leves de comprensión de instrucciones o manejo de presión.</td>
                            </tr>
                            <tr class={{ score|highlight:4 }} >
                                <td class="middle">4</td>
                                <td class="middle">Medio Alto</td>
                                <td>Muestra comprensión de instrucciones y manejo de presión moderado.</td>
                            </tr>
                            <tr class={{ score|highlight:5 }} >
                                <td class="middle">5</td>
                                <td class="middle">Alto</td>
                                <td>Maneja instrucciones complejas con eficiencia y mantiene el control bajo presión.</td>
                            </tr>
                            <tr class={{ score|highlight:6 }} >
                                <td class="middle">6</td>
                                <td class="middle">Muy Alto</td>
                                <td>Maneja instrucciones complejas sin difucultades y mantiene el control bajo presión.</td>
                            </tr>

                        </table>
                    </div>
            </div>
        </div>
        <div class='fixed btnDwn'>
            <a href='javascript:genPDF()'><i class="fas fa-file-download"></i></a>
        </div>
    </body>
</html>



<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/ccc33a72c1.js" crossorigin="anonymous"></script>

<script>
    const ctx = document.getElementById('scoreGraph').getContext('2d');
    const score = {{ score }};
    console.log(score);
    let level_background = [0,0,0,0,0,0];
    let level_labels = ["", "", "", "", "", ""];
    let level_data = [0,0,0,0,0,0];
    for (let i = 1; i <= 6; i++) {
        let level = "";
        switch (i) {
            case 1:
                level = "Bajo";
                level_background[i-1] = "rgb(130, 130, 130)";
                break;
            case 2:
                level = "Medio Bajo";
                level_background[i-1] = "rgb(150, 150, 150)";
                break;
            case 3:
                level = "Medio";
                level_background[i-1] = "rgb(170, 170, 170)";
                break;
            case 4:
                level = "Medio Alto";
                level_background[i-1] = "rgb(190, 190, 190)";
                break;
            case 5:
                level = "Alto";
                level_background[i-1] = "rgb(210, 210, 210)";
                break;
            case 6:
                level = "Muy Alto";
                level_background[i-1] = "rgb(230, 230, 230)";
                break;
        }
        console.log(i === score);
        if (i < score){
            level_labels[i - 1] = level;
            level_data[i-1] = "";
        }
        else if (i === score) {
            level_labels[i - 1] = "Tu nivel: ".concat(level);
            level_background[i-1] = "rgb(255, 166, 0)";
            level_data[i-1] = score;
        }
        else {
            level_labels[i - 1] = level;
            level_data[i-1] = 1;
        }
        console.log(i);
        console.log(level_labels);
    }
    const chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'doughnut',

        // The data for our dataset
        data: {
            labels: level_labels,
            datasets: [{
                backgroundColor: level_background,
                borderAlignment: 'inner',
                data: level_data,
        },
        {
            data: [1,1,1,1,1,1],
            borderAlignment: 'inner',
            backgroundColor: [
                'rgb(150, 150, 150)',
                'rgb(160, 160, 160)',
                'rgb(170, 170, 170)',
                'rgb(180, 180, 180)',
                'rgb(190, 190, 190)',
                'rgb(200, 200, 200)',
            ]}
        ]
    },

    // Configuration options go here
    options: {
        cutoutPercentage: 70,
        animation: {
            animateScale: true,
        },
        legend: {
            display: true,
            position: 'bottom',
            align: 'center',
            labels: {
                usePointStyle: true,
                padding: 20,
                }
            }
    }
});



</script>

<script>
    function genPDF(){
        html2canvas(document.getElementById("certificate-body"), {
            scale: 10,
            onrendered: function(canvas){
                setpixelated(canvas.getContext('2d')); // For More Clear Images in all browsers

                function setpixelated(context) {
                    context['imageSmoothingEnabled'] = true;
                }
                var img = canvas.toDataURL("image/png");
                var doc = new jsPDF('p', 'in', 'letter', false, false, 5000);
                doc.addImage(img, 'JPEG', 0, 0, 8.5, 11);
                doc.save('test.pdf')
            }

        })
    }

</script>